{% extends "mainapp/base.html" %}
{% load static %}
{% load bleach_tags %}

{% block title %}Search Page Test Mockup{% endblock %}

{% block head_supplement %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  config: ["MMLorHTML.js"],
  jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
  extensions: ["MathMenu.js", "MathZoom.js"]
});
</script>
{% endblock %}

{% block content %}
    <div  class="ac_input_wrapper">
<!--        see: http://docs.mathjax.org/en/latest/web/start.html   -->
        This is inline math: \(a = b + c - \int_0^{2\pi} \sin x dx\)
        <br>
        This is displaystyle math:
        <script type="math/tex; mode=display"> \int_0^{2\pi} \sin x dx = 0 </script>

    </div>

    {{ "https://startpage.com"|json_script:"target_url" }}

    <script>

        var target_url = JSON.parse(document.getElementById('target_url').textContent);
        console.log(target_url)
        //window.location.replace(target_url);
    </script>


    <p>
    Search Item:
    </p>

    <div id="autoComplete" class="autoComplete_wrapper" role="combobox" aria-owns="autoComplete_list_1" aria-haspopup="true" aria-expanded="false">
        <div  class="ac_input_wrapper">
            <input id="main-input" class="autocomplete-input" />

        </div>
            <ul id="autocomplete-result-list" class="autocomplete-result-list">
            <p id="result-info">
                Displaying <b>30</b> results
            </p>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    {{rendered_entity}}
                </li>
                <li>
                    <div class="entity-label">Label Label Label </div>
                    <div class="entity-description">
                        description description description
                    </div>
                </li>
                <li>
                    <div class="entity-label">Label Label Label </div>
                    <div class="entity-description">
                        description description description
                        description description description
                        description description description
                        description description description
                    </div>
                </li>
                <li>
                    <div class="entity-label">Label Label Label </div>
                    <div class="entity-description">
                        description description description
                        description description description
                        description description description
                        description description description
                        description description description
                        description description description
                        description description description
                    </div>
                </li>
            </ul>
<!--         </div> -->

    </div>
    <p>

    Das ist weiterer Text der geht gleich weiter.
    Das ist weiterer Text der geht gleich weiter.
    Das ist weiterer Text der geht gleich weiter.
    Das ist weiterer Text der geht gleich weiter.
    </p>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'mainapp/main.js' %}"></script>
{% endblock %}
