{% extends "mainapp/base.html" %}
{% load bleach_tags %}
{% load static %}

{% block head_css %}
<style type="text/css" media="screen">


    #editor {
        width: 100%;
        min-height: 70vh;
    }
</style>
{% endblock %}
{% block content %}

<!-- utc_editor_page -->

<h3 class="editor-heading">Edit Pyirk Module (with Autocompletion)</h3>

{% if err %}
<div class="errorbox">
<!-- utc_error -->
    {{ err }}
</div>
{% endif %}

{# store the file path such that it is available for js#}
{{ fpath|json_script:"fpath" }}


<div class="small-grey">
<!-- utc_uri_of_loaded_file:{{ uri }} -->
uri: <span class="literal">{{ uri }}</span>; path: <span class="literal">{{ fpath }}</span>
&nbsp;<a onclick="save_file()" href="javascript:void(0);" title="CTRL+S">save file</a>
&nbsp;<details style="display: inline;">
<summary>
Load file ...
</summary>
<ul>
    <li>
        <a href="#">test1</a>
    </li>
    <li>
        <a href="#">test2</a>
    </li>
</ul>
</details>
</div>


{% if fcontent %}
<pre id="editor">
{{ fcontent }}
</pre>
{% else %}
<pre id="editor">
# Type your pyirk code here.
# Use CTRL+Space to trigger auto completion.
</pre>
{% endif %}


{% endblock  %}

{% block script %}
<script type="text/javascript" charset="utf-8" src="{% static 'mainapp/ace/ace.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'mainapp/ace/ext-language_tools.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'mainapp/pyirk-ace.js' %}"></script>
{% endblock  %} {# end block script#}
