{% extends "mainapp/base.html" %}
{% load static %}
{% load bleach_tags %}

{% block title %}erk: easy representation of knowledge{% endblock %}

{% block page-header-supplement %}
<div class="headerbar-content">
<div class="headerbar-loaded-modules">
Loaded modules:
{% for tup in loaded_pyerk_mods %}
<a href="{% url 'show_editor_with_uri' uri=tup.0|urlencode|iriencode %}" title="local path: {{tup.1}}">{{tup.0}}</a>;&nbsp;
<!-- utc_loaded_module:{{tup.0}}  -->
{# TODO: unittest for this #}
{% endfor %}
</div>
</div>
{% endblock %}


{% block content %}

    <!-- utc_landing_page -->

    Search Item:


    <div id="autoComplete" class="autoComplete_wrapper" role="combobox" aria-owns="autoComplete_list_1" aria-haspopup="true" aria-expanded="false">
        <div  class="ac_input_wrapper">
            <input id="main-input" class="autocomplete-input" />
        </div>
            <p id="result-info"></p>
            <ul id="autocomplete-result-list" class="autocomplete-result-list"></ul>

    </div>
{% endblock %}



{% block script %}
<script type="text/javascript" src="{% static 'mainapp/main.js' %}"></script>
{% endblock %}
